@model IEnumerable<LeVanTru0714.Models.LVTSinhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách sinh viên</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Sinh Viên
            </th>
            <th>
                Tuổi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LVTTenSinhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVTTuoi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LVTMaSinhVien">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.LVTMaSinhVien">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.LVTMaSinhVien">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
